## Loops are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

### In Python we have mainly two different types of loops :


* <u>for loop</u> : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.


* <u>while loop</u> : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

# for loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

In [ ]:
age_list_2022 = [10, 20, 30, 23]

# for <loop_variable> in <iterable_object>: 
for i in age_list_2022:
    print(i, type(i))

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>
23 <class 'int'>

In [ ]:
age_list_2022 = [10, 20, 30, 23]

# for <loop_variable> in <iterable_object>: 
for i in age_list_2022:
    if i%2==0:
        print("the number is even", i)

the number is even 10
the number is even 20
the number is even 30

In [ ]:
age_list_2022 = [10, 20, 30]

age_list_2025 = []

for age in age_list_2022:
    age_2025 = age + 3
    age_list_2025.append(age_2025)

In [ ]:
age_list_2025

[13, 23, 33]

### <u> Example 1</u>


#### Let us print each element of our list of strings using a for loop statement

In [ ]:
# Consider a list of strings 
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully',
              'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
# A simple for loop to print the houses of GOT universe
for house in got_houses:
    print(f"House {house}")

House Stark
House Arryn
House Baratheon
House Tully
House Greyjoy
House Lannister
House Tyrell
House Martell
House Targaryen

In [ ]:
for i in got_houses:
    print(i)

Stark
Arryn
Baratheon
Tully
Greyjoy
Lannister
Tyrell
Martell
Targaryen

In [ ]:
# f -> string formatting
x = 60
f"marks is {x}"

'marks is 60'

### Another interesting way to loop through the elements of a list is to use the <code>enumerate()</code> function. Using enumerate requires us two iterators index and element

In [ ]:
tuple_1 = (1,2,3)
list(enumerate(tuple_1))

[(0, 1), (1, 2), (2, 3)]

In [ ]:
list(enumerate("hey"))

[(0, 'h'), (1, 'e'), (2, 'y')]

In [ ]:
list(enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

In [ ]:
for i in enumerate(got_houses):
    print(i)

(0, 'Stark')
(1, 'Arryn')
(2, 'Baratheon')
(3, 'Tully')
(4, 'Greyjoy')
(5, 'Lannister')
(6, 'Tyrell')
(7, 'Martell')
(8, 'Targaryen')

In [ ]:
a,b,c = (1,2,3) # tuple unpacking :)

2

In [ ]:
for i, e in enumerate(got_houses):
    print(f"index - {i}, element is {e}")

index - 0, element is Stark
index - 1, element is Arryn
index - 2, element is Baratheon
index - 3, element is Tully
index - 4, element is Greyjoy
index - 5, element is Lannister
index - 6, element is Tyrell
index - 7, element is Martell
index - 8, element is Targaryen

In [ ]:
for number, house in enumerate(got_houses):
    print(number, house)

0 Stark
1 Arryn
2 Baratheon
3 Tully
4 Greyjoy
5 Lannister
6 Tyrell
7 Martell
8 Targaryen

In [ ]:
# Using enumerate function to loop through the elements of a list
for number, house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

### <u>Example 2</u>

#### Suppose you are given a list of numbers. You need to find the corresponding squares of these numbers

In [ ]:
# The list of numbers | Class Work
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Let us first print the squares
for i in list_of_numbers:
    print(i*i)

1
4
16
36
121
196
289
400

In [ ]:
# please find the cube of numbers
for n in list_of_numbers:
    print(n*n*n, n**3)

1 1
8 8
64 64
216 216
1331 1331
2744 2744
4913 4913
8000 8000

### So this was a pretty straight forward way to print out these squares.

### <u>Example 3</u>
#### Imagine a scenario where we not only needed to print these numbers for each iteration but also we need to store these elements somewhere else

In [ ]:
list_of_numbers

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Let us first initialize a list where we will be appending the squares in each iteration

# initialize an empty list
squared_numbers = []

for n in list_of_numbers:
    squared_numbers.append(n**2)

In [ ]:
print(list_of_numbers)
print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
# Let us zip the original numbers and squares together and get the dictionary
zipped_dict = dict(zip(list_of_numbers,
                       squared_numbers))

# Let us print the dictionary where the key is the number and the value is the square of that number
print(zipped_dict)

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

### <u> Example 4</u>
####  Now suppose we only want to print the squares of those numbers which are even. Let us see how we can do this

In [ ]:
number1 = 10
if number1%2 == 0:
    print("Number is Even")
else:
    print("Number is odd")

Number is Even

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Let us first print the squares
for number in list_of_numbers:
    # Checking wether the number is even.
    if number % 2 == 0:
        print(f"{number} is Even, square is {number**2}")

2 is Even, square is 4
4 is Even, square is 16
6 is Even, square is 36
14 is Even, square is 196
20 is Even, square is 400

In [ ]:
# Let us print the cubes of odd number
for number in list_of_numbers:
    # Checking wether the number is odd.
    if number%2!=0:
        print(number, number**3)

1 1
11 1331
17 4913

### <code>range()</code> function is a pretty useful function to get a sequence of numbers. It takes three arguments : start, stop, step

In [ ]:
# We are smart Data Scientist!!
# Let's use range function to generate 1000 numbers
list(range(1, 10, 1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(1, 10, 4))

[1, 5, 9]

In [ ]:
el1 = 5
el2 = 6

el1, el2 = el2, el1

el1, el2

(6, 5)

In [ ]:
# Let's print all the even numbers b/w 1 to 1000
list(range(2, 1001, 2))

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Let us first print the squares
for number in range(0, 10, 2):
  squared_number = number**2
  print(f"The square of {number} is {squared_number}")

The square of 0 is 0
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 8 is 64

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

### <u> Example 5<u>
#### Next suppose we wanted to find the sum of the squares of our numbers in the list

In [ ]:
# Print our list
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
sum_ = 0
for i in list_of_numbers:
    i_sq = i**2
    sum_ = sum_ + i_sq
    print(i_sq, sum_)

print(sum_)

1 1
4 5
16 21
36 57
121 178
196 374
289 663
400 1063
1063

In [ ]:
sq_list = []
for i in list_of_numbers:
    i_sq = i**2
    sq_list.append(i_sq)

sum(sq_list)

1063

In [ ]:
# Let us the initialize the sum of the squares with 0. This makes sense right!
sum_squares = 0

for i in list_of_numbers:
    sum_squares = sum_squares + i**2

# Now we have added the squares of all the numbers in our list
print(f"The sum of the squares of our list of numbers is {sum_squares}")

1 0
2 1
4 5
6 21
11 57
14 178
17 374
20 663
The sum of the squares of our list of numbers is 1063

### Up till now, we have only implemented for loops for list objects. From the last week, we know that there are other objects in Python which are sequence of elements such as strings, tuples etc. Let us try and apply for loop to iterate over their elements.

### <u> Example 6</u>
##### We are given a sentence : "I am the one who knocks!"

In [ ]:
# Let us first store the sentence in a string variable 
heisenberg_quote =  "I am the one who knocks!"

#### The next step is to print all the characters which are separated by whitespace

In [ ]:
for char in heisenberg_quote:
  print(f" The character is {char}")

 The character is I
 The character is
 The character is a
 The character is m
 The character is
 The character is t
 The character is h
 The character is e
 The character is
 The character is o
 The character is n
 The character is e
 The character is
 The character is w
 The character is h
 The character is o
 The character is
 The character is k
 The character is n
 The character is o
 The character is c
 The character is k
 The character is s
 The character is !

In [ ]:
type(heisenberg_quote)

str

In [ ]:
# Lets apply a for loop to do the above task

for index,char  in enumerate(heisenberg_quote):
  print(f" The index is {index} and the character is {char}")

 The index is 0 and the character is I
 The index is 1 and the character is
 The index is 2 and the character is a
 The index is 3 and the character is m
 The index is 4 and the character is
 The index is 5 and the character is t
 The index is 6 and the character is h
 The index is 7 and the character is e
 The index is 8 and the character is
 The index is 9 and the character is o
 The index is 10 and the character is n
 The index is 11 and the character is e
 The index is 12 and the character is
 The index is 13 and the character is w
 The index is 14 and the character is h
 The index is 15 and the character is o
 The index is 16 and the character is
 The index is 17 and the character is k
 The index is 18 and the character is n
 The index is 19 and the character is o
 The index is 20 and the character is c
 The index is 21 and the character is k
 The index is 22 and the character is s
 The index is 23 and the character is !

### We saw how we can iterate through each element of our string. What if you wanted to iterate through each word of the sentence and not each element. There is an important method available with strings known as <code>split()</code> method. 

#### This method returns the list of words separated by the character we want to separate them by.

### <u> Example 7</u>

In [ ]:
"hey i am Human".split()

['hey', 'i', 'am', 'Human']

In [ ]:
"hey i am Human".split("i")

['hey ', ' am Human']

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [ ]:
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [ ]:
list1 = [10, 20, 30]

40 not in list1

True

In [ ]:
# Now we can print each word by iterating through this list
for word in words_by_walter:
  if word not in ['I','you']:
    print(f"The word is {word}")

The word is It
The word is ceases
The word is to
The word is exist
The word is without
The word is me.
The word is No,
The word is clearly
The word is don't
The word is know
The word is who
The word is you're
The word is talking
The word is to,
The word is so
The word is let
The word is me
The word is clue
The word is in.
The word is am
The word is not
The word is in
The word is danger,
The word is Skyler.
The word is am
The word is the
The word is danger.

In [ ]:
word = "Ashutosh"

n = 4

word[:n] + word[n+1:]

'Ashuosh'

In [ ]:
x = input("give a list")

give a list[1,2,3]

In [ ]:
x = eval(x)

In [ ]:
x = [3,4,1,3,5]

In [ ]:
x_sorted = sorted(x)

In [ ]:
x_len = len(x_sorted)
if

5

### We can also iterate through each element of tuple as well. 

### <u> Example 8 </u>

In [ ]:
# Suppose we have a tuple of days
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

for day in days:
  print(f"Today is {day}")

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

#### Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

#### Remember from earlier we had a list of tuples of country-city

### <u> Example 9</u>

In [ ]:
country_city_river_list = [('India','New Delhi','Ganga'),
                           ('Australia','Canberra','Rovers'),
                           ('United States','Washington DC','Missouri'),
                           ('England','London','Thames')]

In [ ]:
# Let us iterate through each tuple element of this list and unpack each item

for country,city,river in country_city_river_list:
  # print(country_city)
  print(f"The capital of the country {country} is {city} and it also has the river {river}.")

The capital of the country India is New Delhi and it also has the river Ganga.
The capital of the country Australia is Canberra and it also has the river Rovers.
The capital of the country United States is Washington DC and it also has the river Missouri.
The capital of the country England is London and it also has the river Thames.

### Finally we can iterate through the items of a dictionary as well. 

### <u> Example 10 </u>

In [ ]:
# Run Example 10 by yourself.

In [ ]:
country_city_list = [('India','New Delhi'),
                           ('Australia','Canberra'),
                           ('United States','Washington DC'),
                           ('England','London')]

In [ ]:
# Lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [ ]:
for item in country_city_dict:
  print(item)

India
Australia
United States
England

In [ ]:
country_city_dict.items()

dict_items([('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')])

#### This just prints the keys of the dictionary

#### Next we can iterate through the key-value pairs using the <code>items()</code> method which you should remember from earlier

#### Since the <code>items()</code> method supports iteration, we can perform *dictionary unpacking* to separate keys and values

In [ ]:
for country,city in country_city_dict.items():
  print(f"The capital of {country} is {city}")

The capital of India is New Delhi
The capital of Australia is Canberra
The capital of United States is Washington DC
The capital of England is London

In [ ]:
for elem in {1,2,3}:
  print(elem)

1
2
3

#### And of course you can iterate through the list of keys and list of values independently depending upon the scenario

# <u>While Loops </u>

### The <code>while</code> statement in Python is one of the most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

### The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

### Let’s look at a few simple <code>while</code> loops in action.

In [ ]:
x = 0

while (x<10):
    print(x)
    x = x+1 # incrementing x by 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x =  11

while x<10:
    print("This will work?? (Hint check the condition")
else:
    print("The value is greater than equal to 10!!")

The value is greater than equal to 10!!

In [ ]:
# please write a while loop to print out numbers from 1 to 15
x = 1
while x<16:
    print(x)
    x = x +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# print a table of 5:
x = 5
while (x <= 50):
    print(x)
    x = x+5

5
10
15
20
25
30
35
40
45
50

In [ ]:
# x = 1
# while x<5:
#     print(x)

In [ ]:
x = 0
while x<10:
    print(x)

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x=x+1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

### Notice how many times the print statements occurred and how the <code>while</code> loop kept going until the False condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Let's see how we could add an <code>else</code> statement:

In [ ]:
x = 0

while x < 5:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
  
print("All done")
print("I am done with the iterations")

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
All done
I am done with the iterations

## break, continue, pass

### We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
### Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

### <code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

In [ ]:
# 4
# 4 is divisible by 2,3 if yes not a prime number

# 6
# is divisible by 2,3

# 7
# is divisible by 2,3,4

# 11
# is divisible by 2,3,4,5,6

In [ ]:
(11//2)+1

6

In [ ]:
## H:w do this while

# check the number is prime or not till 20
for i in range(3,21):
    n_2 = (i//2)+1 # half of the number
    
    # range to check 2 till half of the number
    for j in range(2, n_2):
        if i%j==0:
            print(i, "not a prime number!!")
            break

4 not a prime number!!
6 not a prime number!!
8 not a prime number!!
9 not a prime number!!
10 not a prime number!!
12 not a prime number!!
14 not a prime number!!
15 not a prime number!!
16 not a prime number!!
18 not a prime number!!
20 not a prime number!!

In [ ]:
## H:w do this while

# check the number is prime or not till 20
for i in range(3,21):
    n_2 = (i//2)+1 # half of the number
    
    prime_flag = True
    # range to check 2 till half of the number
    for j in range(2, n_2):
        if i%j==0:
            prime_flag = False
            break
        
    if prime_flag==True:
        print(f"Number {i} is a prime no.")
    else:
        print(f"Number {i} is NOT a prime no.")

Number 3 is a prime no.
Number 4 is NOT a prime no.
Number 5 is a prime no.
Number 6 is NOT a prime no.
Number 7 is a prime no.
Number 8 is NOT a prime no.
Number 9 is NOT a prime no.
Number 10 is NOT a prime no.
Number 11 is a prime no.
Number 12 is NOT a prime no.
Number 13 is a prime no.
Number 14 is NOT a prime no.
Number 15 is NOT a prime no.
Number 16 is NOT a prime no.
Number 17 is a prime no.
Number 18 is NOT a prime no.
Number 19 is a prime no.
Number 20 is NOT a prime no.

In [ ]:
i=1
while i<=10:
    print("hello all:",i)
    i=i+1

hello all: 1
hello all: 2
hello all: 3
hello all: 4
hello all: 5
hello all: 6
hello all: 7
hello all: 8
hello all: 9
hello all: 10

In [ ]:
x =  2

while x<100:
    print(x)
    x = x+1
    if x==10:
        break

2
3
4
5
6
7
8
9

In [ ]:
x =  2

while x<100:
    x = x+1
    print(x)
    if x==10:
        break

3
4
5
6
7
8
9
10

In [ ]:
x =  2

while x<100:
    print(x)
    x = x+1
    break

2

In [ ]:
for i in range(20):
    print(i)
    if i>10:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for i in range(20):
    print(i)
    if i>10:
        pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(20):
    if i>4:
        pass
    else:
        print(i)

0
1
2
3
4

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  # x+=1
  if x==3:
    print('x==3')
    break
  else:
    print('continuing...')
    continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3

#### Note how we have a printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x ==3 and see if the result makes sense:

In [ ]:

x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
  break

else:
  print('continuing...')

x is currently:  0
 x is still less than 10, adding 1 to x

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
  pass

else:
  print('continuing...')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...



#### After these brief but simple examples, you should feel comfortable using <code>while</code> statements in your code.

#### **A word of caution however! It is possible to create an infinitely running loop with <code>while</code> statements.**

In [ ]:
for elem in list_of_numbers:
  while elem > 3:
    pass
  else:

In [ ]:
l = []
for elem in l :
  print(elem)